<div class="mt-4">
    <table id="table" class="table table-striped nowrap" style="width:90%">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Status</th>
                <th>Start Hour</th>
                <th>Type</th>
                <th>Virtual</th>
                <th>Hospital</th>
                <th>City</th>
                <th>Province</th>
                <th>Region Name</th>
                <th>Doctor Specialty</th>
                <th>Doctor Age</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>