<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STADVDB Web App</title>

  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="/css/newrecord.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- JS Files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" defer></script>
  <script src="/js/newrecord.js" defer></script>

</head>
<body>
  <div class="container-fluid">
		<div class="row flex-nowrap">
      <%-include('components/sidebar.ejs')%>
			<div class="col py-3">
        <div class="container mt-5">
          <h1 class="mb-4">Add New Record</h1>
          <div>
            <a href="/appointment" style="color: black; text-decoration: none;"><i class="bi bi-arrow-left"></i> Back</a>
          </div>
          <div class="container mt-3">
            <form id="insertData">
              <div class="col-lg-1 mb-3">
                <label for="startHour" class="form-label"><strong>Start Hour</strong></label>
                <input type="number" class="form-control" id="startHour" min="1" max="24" required>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="Status" class="form-label"><strong>Status</strong></label>
                  <select class="form-select" id="Status" aria-label="Appointment Status" required>
                    <option value="" hidden>Appointment Status</option>
                    <option value="Queued">Queued</option>
                    <option value="Serving">Serving</option>
                    <option value="NoShow">No Show</option>
                    <option value="Complete">Complete</option>
                    <option value="Cancel">Cancel</option>
                    <option value="Skip">Skip</option>
                  </select>
                </div>
                <div class="col mb-3">
                  <label for="Type" class="form-label"><strong>Type</strong></label>
                  <select class="form-select" id="Type" aria-label="Appointment Type" required>
                    <option value="" hidden>Appointment Type</option>
                    <option value="Consultation">Consultation</option>
                    <option value="Inpatient">Inpatient</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col mb-3">
                  <label for="Virtual" class="form-label"><strong>Virtual</strong></label>
                  <select class="form-select" id="Virtual" aria-label="Virtual Appointment" required>
                    <option value="" hidden>Is Virtual Appointment?</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
                <div class="col mb-3">
                  <label for="Hospital" class="form-label"><strong>Hospital</strong></label>
                  <select class="form-select" id="Hospital" aria-label="Is Hospital" required>
                    <option value="" hidden>Is Hospital?</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
              </div>
              <div class="mb-3">
                <label for="City" class="form-label"><strong>City</strong></label>
                <input type="text" class="form-control" id="City" required>
              </div>
              <div class="mb-3">
                <label for="Province" class="form-label"><strong>Province</strong></label>
                <input type="text" class="form-control" id="Province" required>
              </div>
              <div class="mb-3">
                <label for="Region" class="form-label"><strong>Region Name</strong></label>
                <select class="form-select" id="Region" aria-label="Region Name" required>
                  <option value="" hidden>Region Name</option>
                  <option disabled>Luzon</option>
                  <option value="Ilocos Region (I)">Ilocos Region (I)</option>
                  <option value="Cagayan Valley (II)">Cagayan Valley (II)</option>
                  <option value="Central Luzon (III)">Central Luzon (III)</option>
                  <option value="CALABARZON (IV-A)">CALABARZON (IV-A)</option>
                  <option value="MIMAROPA Region (IV-B)">MIMAROPA Region (IV-B)</option>
                  <option value="Bicol Region (V)">Bicol Region (V)</option>
                  <option value="National Capital Region (NCR)">National Capital Region (NCR)</option>
                  <option value="Cordillera Administrative Region (CAR)">Cordillera Administrative Region (CAR)</option>
                  <option disabled>Visayas</option>
                  <option value="Western Visayas (VI)">Western Visayas (VI)</option>
                  <option value="Central Visayas (VII)">Central Visayas (VII)</option>
                  <option value="Eastern Visayas (VIII)">Eastern Visayas (VIII)</option>
                  <option disabled>Mindanao</option>
                  <option value="Zamboanga Peninsula (IX)">Zamboanga Peninsula (IX)</option>
                  <option value="Northern Mindanao (X)">Northern Mindanao (X)</option>
                  <option value="Davao Region (XI)">Davao Region (XI)</option>
                  <option value="SOCCSKSARGEN (Cotabato Region) (XII)">SOCCSKSARGEN (Cotabato Region) (XII)</option>
                  <option value="Caraga (XIII)">Caraga (XIII)</option>
                  <option value="Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)">Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)</option>
                </select>
              </div>
              <div class="col-lg-8 mb-3">
                <label for="Specialty" class="form-label"><strong>Doctor Specialty</strong></label>
                <input type="text" class="form-control" id="Specialty" required>
              </div>
              <div class="col-lg-2 mb-3">
                <label for="Age" class="form-label"><strong>Doctor Age</strong></label>
                <input type="number" class="form-control" id="Age" min="0" max="120" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
	</div>
</body>
</html>